# Employee Service
PORT=8001
MONGO_URL=mongodb://admin:admin_password@mongodb:27017/atlas_db?authSource=admin
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
INTERNAL_JWT_SECRET=atlas-internal-jwt-secret-change-me
